{{- define "requestObject"}}
    <ParamField body="{{.Name}}" type="{{.Type}}" {{ if isRequired .Type}}required{{end}}>
    {{.Description}}
    </ParamField>


    {{- if isNested .Type.Name}}
    <Expandable title="properties">
    {{ $obj := getObject .Type.Name }}
    {{ range $obj.Fields }}
    {{template "requestObject" .}}
    {{ end }}
    </Expandable>
    {{ end}}
{{- end}}

{{- define "responseObject"}}
    {{ range .Fields }}
    <ResponseField name="{{.Name}}" type="{{.Type}}">
    {{.Description}}
    </ResponseField>

    {{- if isNested .Type.Name}}
    <Expandable title="properties">
    {{template "responseObject" getObject .Type.Name}}
    </Expandable>
    {{ end}}
    {{ end}}
{{- end}}

{{- define "objectSelection"}}
    {{- $root := . }}
    {{- range .Type.Fields}}
    {{ $.Indent }}{{.Name}}{{- if isNested .Type.Name }} {
    {{- $obj := getObject .Type.Name}}
    {{- $indent := printf "  %s" $root.Indent }}
      {{- template "objectSelection" (objectSelectionParamArg $obj $indent) }}
      {{  $root.Indent }}}
    {{- end}}
    {{- end}}
{{- end -}}
---
title: {{.Name}}
---

```graphql
{{.Name}}{{ if .Arguments }} {
  {{range .Arguments}} {{.Name}}: {{.Type}} {{end}}
}{{ end }}: {{.Type}}
```

{{.Description}}

{{if .Arguments}}
## Arguments

{{range .Arguments}}
{{ template "requestObject" . }}
{{end}}
{{end}}

## Response

Type: `{{ .Type }}`

{{$obj := getObject .Type.Name}}
{{$objNested := isNested .Type.Name}}
{{ if $objNested }}
{{template "responseObject" $obj}}
{{ end }}


<RequestExample>
```graphql query
query {{.Name }}{{ if .Arguments }} (
  {{range .Arguments}}${{.Name}}: {{.Type}}{{end}}
){{ end }} {
  graphite {
    {{.Name}}{{ if .Arguments }} (
      {{range .Arguments}}{{.Name}}: ${{.Name}}{{end}}
    ){{ end }}{{ if $objNested }} {
      {{- $indent := "  " }}
      {{- template "objectSelection" (objectSelectionParamArg $obj $indent) }}
    }{{ end }}
  }
}
```

```json variables
{{ renderArgumentsExample .}}
```
</RequestExample>

<ResponseExample>
```json
{{ renderResponseExample }}
```
</ResponseExample>
