@tailwind base;
@tailwind components;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  cursor: default;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

.mainHeader {
  position: static;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.btn-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;

  position: static;
  width: 93px;
  height: 36px;

  /* White */
  background: #ffffff;
  border-radius: 4px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}

@responsive {
  .card-usecase {
    background: #ffffff;

    /* Raised/Raised 3 */
    box-shadow: 0px 1px 4px rgba(14, 24, 39, 0.1),
      0px 16px 48px rgba(14, 24, 39, 0.1);
    border-radius: 16px;
  }
}

.drop {
  padding: 0px 16px 0px 24px;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 0px;
  box-shadow: 0px 1px 3px rgba(14, 24, 39, 0.2);
  border-radius: 4px;
}

.divider {
  height: 1px;
  left: 0px;
  right: 0px;
  top: calc(50% - 1px / 2 - 0.5px);

  /* Translucent dark/Dark very light (16) */

  background: rgba(0, 35, 88, 0.16);
}

.markdown-code {
  @apply inline-block font-mono font-medium bg-verydark text-white rounded-sm px-1 py-0.5 text-xs;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.top-full {
  top: 100%;
}

.tooltip {
  @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
  @apply z-50 visible;
}

.show:hover .tooltip {
  @apply z-50 visible;
}

/* Tables */
table,
th,
td {
  @apply border-gray-100;
}

table {
  @apply my-8 rounded-xl;
  width: 100%;
}

tr:nth-child(even) {
  @apply bg-veryLightGray;
}

td:first-child {
  @apply text-greyscaleDark font-medium text-sm self-center align-middle;
}

tr {
  @apply text-greyscaleDark;
}

th {
  @apply uppercase text-greyscaleGrey text-xs font-medium;
}

th,
td {
  padding: 0.6em 0.75em;
  border-width: 1px;
  vertical-align: top;
}

th {
  text-align: left;
}

@tailwind utilities;
