.markdown blockquote {
  @apply px-3 py-1 my-1 text-xs leading-7 rounded-md shadow-sm bg-fafafa;
}

.markdown ul {
  @apply mt-2;
}

.markdown ol {
  @apply my-2;
}

.markdown li {
  @apply font-normal leading-7 text-base- font-display text-greyscaleDark;
}

.markdown li::marker {
  @apply font-normal leading-7 text-base- font-display text-greyscaleDark;
}

.markdown ul li {
  list-style: disc inside;
}

.markdown ol li {
  list-style: decimal inside;
}

.markdown table {
  @apply text-sm;
}

/* Do not apply this class to elements that are under a pre DOM element given that this is the DOM rendered by React Syntax Highlighter. @GC */
.markdown code:not(.language-javascript, pre code) {
  /* @apply font-mono font-semibold text-hardpink; */
  @apply font-mono font-semibold;
  display: "block";
  background: "#F4F7F9";
  color: "#21324B";
  font-size: 0.9em;
  transition: color 0.2s ease;
}

/* .markdown code:not(.language-javascript, pre code)::before {
  @apply text-pink;
  content: "`";
}

.markdown code:not(.language-javascript, pre code)::after {
  @apply text-pink;
  content: "`";
} */

.markdown .quote {
  @apply text-xs italic;
}

.markdown aside {
  @apply block mt-0 text-xs text-center;
}

.markdown blockquote {
  @apply my-6 border;
}

.markdown h2 {
  @apply mt-4 mb-2 text-2xl leading-snug underline;
}

.markdown h3 {
  @apply mt-4 mb-2 text-xl leading-snug underline;
}

.markdown .remark-code-title {
  @apply font-mono text-lg border;
}

.markdown ::marker {
  @apply text-greyscaleDark;
}
