# Documentation
# https://help.github.com/en/articles/about-code-owners

/packages                                @plmercereau
/.github/workflows                       @plmercereau
/docs/                                   @guicurcio
/examples/                               @plmercereau @guicurcio @FuzzyReason
