# Documentation
# https://help.github.com/en/articles/about-code-owners

/packages                                @plmercereau @szilarddoro
/packages/docgen                         @szilarddoro
/packages/stripe-graphql-js              @elitan
/.github                                 @plmercereau
/docs/                                   @guicurcio @elitan
/config/                                 @plmercereau @szilarddoro
/examples/                               @plmercereau
/examples/codegen-react-apollo           @elitan @plmercereau
/examples/codegen-react-query            @elitan @plmercereau
/examples/react-apollo-crm               @elitan @plmercereau
