.git
.github
.vscode
coverage
docs
examples
mock-config
node_modules
*.sh
.editorconfig
.prettierignore
config.yaml
docker-compose*
Dockerfile*
jest*
npm-debug.log
yarn-error.log
**/*.test.ts
src/test
**/*.pem
