prefer-workspace-packages = true
auto-install-peers = true

# without this setting, pnpm breaks monorepos with multiple versions of the same package
shared-workspace-lockfile = false

# do not enable back, this leads to unlisted dependencies being used
hoist = false
