.root {
  @apply font-display flex px-2 py-1.6;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  font-size: 15px;
}

.primary {
  @apply bg-blue font-display flex font-medium text-white;
  font-size: 15px;
  border-radius: 4px;
  line-height: 22px;
}

.danger {
  @apply py-2.5 px-2.5 text-red font-display font-medium;
  height: 36px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border: 1px solid #c2cad6;
}

.blue {
  @apply text-blue;
}

.red {
  @apply text-red;
}

.root:focus {
  @apply outline-none;
}

.root[data-active] {
  @apply bg-accent-6;
}

.loading {
  @apply bg-accent-1 text-accent-3 border-accent-2 cursor-not-allowed;
}

.secondary {
  @apply font-display text-greyscaleDark bg-white;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #c2cad6;
  box-sizing: border-box;
  border-radius: 4px;
}
.menu {
  @apply font-display text-greyscaleDark cursor-pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.dark {
  @apply font-medium text-white;
  background: #21324b;
  border-radius: 4px;
}
.dark .disabled {
  @apply font-medium text-white;
  background: #21324b;
  border-radius: 4px;
}
.secondary .disabled {
  @apply font-medium;
  color: rgba(9, 34, 72, 0.4);
}
.disabled,
.disabled:hover {
  @apply text-gray-400 cursor-not-allowed;
  border-radius: 4px;
}
.small {
  width: 51px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.transparent {
  @apply px-0 py-1 bg-transparent border-0;
}
.border {
  @apply px-2 py-1.5;
  border: 1px solid #c2cad6;
  border-radius: 4px;
}
