HASURA_GRAPHQL_ADMIN_SECRET='nhost-admin-secret'
HASURA_GRAPHQL_JWT_SECRET='oqpdwyffgxncqamwlyebkaifyazvqgso'
NHOST_WEBHOOK_SECRET='nhost-webhook-secret'
GRAFANA_ADMIN_PASSWORD='FIXME'
APPLE_SERVICE_IDENTIFIER = 'FIXME'
APPLE_KEY_ID = 'FIXME'
APPLE_TEAM_ID = 'FIXME'
APPLE_PRIVATE_KEY = 'FIXME'
GITHUB_CLIENT_ID = 'FIXME'
GITHUB_CLIENT_SECRET = 'FIXME'
GOOGLE_CLIENT_ID = 'FIXME'
GOOGLE_CLIENT_SECRET = 'FIXME'
LINKEDIN_CLIENT_ID = 'FIXME'
LINKEDIN_CLIENT_SECRET = 'FIXME'
DISCORD_CLIENT_ID = 'FIXME'
DISCORD_CLIENT_SECRET = 'FIXME'
SPOTIFY_CLIENT_ID = 'FIXME'
SPOTIFY_CLIENT_SECRET = 'FIXME'
TWITCH_CLIENT_ID = 'FIXME'
TWITCH_CLIENT_SECRET = 'FIXME'
GITLAB_CLIENT_ID = 'FIXME'
GITLAB_CLIENT_SECRET = 'FIXME'
BITBUCKET_CLIENT_ID = 'FIXME'
BITBUCKET_CLIENT_SECRET = 'FIXME'
WORKOS_CLIENT_ID = 'FIXME'
WORKOS_CLIENT_SECRET = 'FIXME'
WORKOS_DEFAULT_ORGANIZATION = 'FIXME'
WORKOS_DEFAULT_CONNECTION = 'FIXME'
AZUREAD_CLIENT_ID = 'FIXME'
AZUREAD_CLIENT_SECRET = 'FIXME'
AZUREAD_TENANT='FIXME'