schema:
  - http://local.graphql.nhost.run/v1:
      headers:
        x-hasura-admin-secret: nhost-admin-secret
        x-hasura-role: user
documents: 'src/**/!(*.d).{ts,tsx}'
generates:
  ./src/generated.ts:
    config:
      namingConvention:
        typeNames: change-case-all#pascalCase
        transformUnderscore: true
      scalars:
        uuid: string
        bigint: number
        citext: string
        timestamptz: string

    plugins:
      - typescript
      - typescript-operations
