.root {
  @apply border-input text-dark focus:ring-dark focus:border-dark flex px-2 py-2 text-xs rounded-md shadow-sm;
  border: 1px solid #c2cad6;
}

.root:focus {
  @apply outline-none;
}

.dark {
  flex: none;
  width: 247px;
  height: 36px;
  left: 0px;
  top: 0px;
  color: white;

  /* Translucent white/White light (20) */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: none;

  /* Inside Auto Layout */
  order: 0;
  flex-grow: 1;
}

.disabled,
.disabled:hover {
  @apply text-accent-3 cursor-not-allowed;
}
