.body {
  font-family: Inter;
  font-style: normal;
}

.dark {
  @apply text-dark;
}

.greyscaleDark {
  @apply text-greyscaleDark;
}

.white {
  @apply text-white;
}

.greyscaleGrey {
  @apply text-greyscaleGrey;
}

.grey {
  @apply text-grayscale;
}

.red {
  @apply text-red;
}

.blue {
  @apply text-blue;
}

.heading {
  @apply font-display;
}

.pageHeading {
  @apply pt-1 pb-4 text-2xl font-bold leading-7 tracking-wide;
}

.a {
  font-family: Inter;
  font-style: normal;
}

.xtiny {
  font-size: 11px;
  line-height: 16px;
}

.tiny {
  font-size: 12px;
  line-height: 16px;
}

.small {
  font-size: 15px;
  line-height: 22px;
}

.normal {
  font-size: 15px;
  line-height: 22px;
}

.large {
  font-size: 18px;
  line-height: 26px;
}

.big {
  font-size: 26px;
  line-height: 36px;
}

.subHeading {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
}

.sectionHeading {
  @apply text-lg font-medium font-display;
  color: gray;
}

.item {
  font-family: Inter;
  font-style: normal;
}
