body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  margin-bottom: 20px;
}

.App > * {
  padding-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
