STRIPE_SK=<stripe_key>
DISCORD_ANNOUNCE_WEBHOOK_URL=<discord_announce_webhook_url>
DISCORD_FEEDBACK_WEBHOOK_URL=<discord_feedback_webhook_url>
NHOST_TENANT_EVENT_URL=<nhost_tenant_event_url>
NHOST_TENANT_EVENT_FACTORIO_URL=<nhost_tenant_event_url>
NHOST_HASURA_TRIGGER_EVENTS_URL=<nhost_hasura_trigger_events_url>
SEGMENT_WRITE_API_KEY=<segment_write_api_key>
POSTMARK_SERVER_API_TOKEN=<postmark_server_api_token>

NEXT_PUBLIC_ENV=dev
NEXT_PUBLIC_NHOST_HASURA_URL=http://localhost:9695
NEXT_PUBLIC_NHOST_MIGRATIONS_URL=http://localhost:9693
NEXT_PUBLIC_NHOST_BACKEND_URL=http://localhost:1337
NEXT_PUBLIC_NHOST_PLATFORM=<enable_local_dashboard>
NEXT_PUBLIC_STRIPE_PK=<nhost_stripe_public_key>
NEXT_PUBLIC_GITHUB_APP_INSTALL_URL=<github_app_install_url>
NEXT_PUBLIC_ANALYTICS_WRITE_KEY=<analytics_write_key>
NEXT_PUBLIC_NHOST_BRAGI_WEBSOCKET=<nhost_bragi_websocket>
