# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.unimportedrc.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env-development
.env*
!.env.example
.direnv
.envrc

# vercel
.vercel
.env

# Local Netlify folder
.netlify
tailwind.json

.nhost

.idea

# Do not ignore Logs page
!src/**/logs*
/test-results/
/playwright-report/
/playwright/.cache/
storageState.json
e2e/.auth/*