
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

req.http
demo/
demo/*

# Application Binaries
bin/
bin/*
TODO*
app.zip
__debug*
requests.*
*.rest
.now
.vercel
*.zip
.vscode/*
johan
johan/
t
t/

enum.json
test.json
release.json
.nhost*
.env*
test/*
test/

static/
static/*

generate-changelog.sh

/.idea
/.vscode
letsencrypt/*
result
dist/
letsencrypt/
