@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-connector-first-active {
  width: 100%;
  mask-image: url('/common/connectors/bottom-connectors-first-active.svg');
  mask-repeat: no-repeat;
}

.bg-pipe-gradient {
  background: linear-gradient(
      120.18deg,
      rgba(0, 0, 0, 0) 0%,
      #8cc1f2 9.6%,
      #00398e 50.09%,
      #8cc1f2 91.34%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(0deg, #262626, #262626);
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

.no-scroll-bar {
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none; /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}

.no-scroll-bar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@media screen and (min-width: 640px) {
  .no-scroll-bar {
    overflow: initial;
  }
}

html {
  color-scheme: dark;
}

.code-snippet pre {
  padding: 16px !important;
  background-color: #080808 !important;
}

@media screen and (min-width: 768px) {
  .code-snippet pre {
    padding: 24px !important;
  }
}

@media screen and (min-width: 1280px) {
  .code-snippet pre {
    padding: 32px !important;
  }
}

.shadow-cover {
  box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.24),
    0px 0px 32px 10px rgba(0, 0, 0, 0.25);
}

.bg-glow-gradient {
  background: radial-gradient(
    326.47% 100% at 50% 0%,
    rgba(0, 102, 255, 0.88) 0%,
    #000000 100%
  );
}

.bg-transparent-to-black-radial-gradient {
  background: radial-gradient(
    326.47% 100% at 50% 0%,
    rgba(0, 0, 0, 0) 0%,
    #000000 100%
  );
}

.border-gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #0066ff 15.56%,
    #0066ff 84.62%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-brand-main-to-transparent {
  background: linear-gradient(180deg, #0066ff 0%, rgba(0, 0, 0, 0) 84.56%);
}

.globe-canvas {
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .globe-canvas {
    max-width: 600px;
  }
}

.gradient-background {
  background: radial-gradient(
    131.31% 131.31% at 50% -1.06%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );

  border: 1px solid;

  border-image-source: radial-gradient(
    131.31% 131.31% at 50% -1.06%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.bg-black-to-transparent {
  background: linear-gradient(180deg, #000000 16.65%, rgba(0, 0, 0, 0) 44.24%);
  transform: rotate(-180deg);
}

.radial-outer {
  background: linear-gradient(
      151.7deg,
      rgba(0, 0, 0, 0.5) -1.06%,
      rgba(0, 0, 0, 0) 33.72%
    ),
    linear-gradient(
      137.7deg,
      rgba(0, 12, 31, 0.16) 0%,
      rgba(0, 12, 61, 0.2) 17.94%,
      rgba(0, 12, 61, 0.24) 42.8%,
      #808080 62.45%,
      rgba(0, 6, 31, 0.56) 81.52%,
      rgba(0, 6, 31, 0.56) 110.86%
    ),
    linear-gradient(0deg, #080808, #080808);
  border: 1px solid;

  border-image-source: linear-gradient(
      137.7deg,
      rgba(0, 12, 31, 0.16) 0%,
      rgba(0, 12, 61, 0.2) 17.94%,
      rgba(0, 12, 61, 0.24) 42.8%,
      #808080 62.45%,
      rgba(0, 6, 31, 0.56) 81.52%,
      rgba(0, 6, 31, 0.56) 110.86%
    ),
    linear-gradient(
      151.7deg,
      rgba(0, 0, 0, 0.5) -1.06%,
      rgba(0, 0, 0, 0) 33.72%
    );
}
