---
interface Props {
  cols?: number;
}

const { cols = 2 } = Astro.props;
---

<div class="sl-card-group" style={`--cols: ${cols}`}>
  <slot />
</div>

<style is:global>
  .sl-card-group {
    display: grid;
    grid-template-columns: repeat(var(--cols, 2), 1fr);
    gap: 1rem;
    margin: 1.5rem 0;
  }

  .sl-card-group > * {
    margin-top: 0;
  }

  @media (max-width: 768px) {
    .sl-card-group {
      grid-template-columns: 1fr;
    }
  }
</style>
