HASURA_GRAPHQL_ADMIN_SECRET='nhost-admin-secret'
HASURA_GRAPHQL_JWT_SECRET='oqpdwyffgxncqamwlyebkaifyazvqgso'
NHOST_WEBHOOK_SECRET='nhost-webhook-secret'
GRAFANA_ADMIN_PASSWORD='FIXME'
APPLE_SERVICE_IDENTIFIER = 'FIXME'
APPLE_KEY_ID = 'FIXME'
APPLE_TEAM_ID = 'FIXME'
APPLE_PRIVATE_KEY = 'FIXME'
GITHUB_CLIENT_ID = 'FIXME'
GITHUB_CLIENT_SECRET = 'FIXME'
GOOGLE_CLIENT_ID = 'FIXME'
GOOGLE_CLIENT_SECRET = 'FIXME'
LINKEDIN_CLIENT_ID = 'FIXME'
LINKEDIN_CLIENT_SECRET = 'FIXME'
FACEBOOK_APP_ID = 'FIXME'
FACEBOOK_APP_SECRET = 'FIXME'