openapi: 3.0.0
info:
    title: OpenAI API
    description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
    version: "2.3.0"
    termsOfService: https://openai.com/policies/terms-of-use
    contact:
        name: OpenAI Support
        url: https://help.openai.com/
    license:
        name: MIT
        url: https://github.com/openai/openai-openapi/blob/master/LICENSE
servers:
    - url: https://api.openai.com/v1
tags:
    - name: Assistants
      description: Build Assistants that can call models and use tools.
    - name: Audio
      description: Turn audio into text or text into audio.
    - name: Chat
      description: Given a list of messages comprising a conversation, the model will return a response.
    - name: Completions
      description: Given a prompt, the model will return one or more predicted completions, and can also return the probabilities of alternative tokens at each position.
    - name: Embeddings
      description: Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.
    - name: Fine-tuning
      description: Manage fine-tuning jobs to tailor a model to your specific training data.
    - name: Batch
      description: Create large batches of API requests to run asynchronously.
    - name: Files
      description: Files are used to upload documents that can be used with features like Assistants and Fine-tuning.
    - name: Uploads
      description: Use Uploads to upload large files in multiple parts.
    - name: Images
      description: Given a prompt and/or an input image, the model will generate a new image.
    - name: Models
      description: List and describe the various models available in the API.
    - name: Moderations
      description: Given a input text, outputs if the model classifies it as potentially harmful.
    - name: Audit Logs
      description: List user actions and configuration changes within this organization.
paths:
    # Note: When adding an endpoint, make sure you also add it in the `groups` section, in the end of this file,
    # under the appropriate group
    /chat/completions:
        post:
            operationId: createChatCompletion
            tags:
                - Chat
            summary: Creates a model response for the given chat conversation.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateChatCompletionRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateChatCompletionResponse"

            x-oaiMeta:
                name: Create chat completion
                group: chat
                returns: |
                    Returns a [chat completion](/docs/api-reference/chat/object) object, or a streamed sequence of [chat completion chunk](/docs/api-reference/chat/streaming) objects if the request is streamed.
                path: create
                examples:
                    - title: Default
                      request:
                          curl: |
                              curl https://api.openai.com/v1/chat/completions \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "model": "VAR_model_id",
                                  "messages": [
                                    {
                                      "role": "system",
                                      "content": "You are a helpful assistant."
                                    },
                                    {
                                      "role": "user",
                                      "content": "Hello!"
                                    }
                                  ]
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              completion = client.chat.completions.create(
                                model="VAR_model_id",
                                messages=[
                                  {"role": "system", "content": "You are a helpful assistant."},
                                  {"role": "user", "content": "Hello!"}
                                ]
                              )

                              print(completion.choices[0].message)
                          node.js: |-
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const completion = await openai.chat.completions.create({
                                  messages: [{ role: "system", content: "You are a helpful assistant." }],
                                  model: "VAR_model_id",
                                });

                                console.log(completion.choices[0]);
                              }

                              main();
                      response: &chat_completion_example |
                          {
                            "id": "chatcmpl-123",
                            "object": "chat.completion",
                            "created": 1677652288,
                            "model": "gpt-4o-mini",
                            "system_fingerprint": "fp_44709d6fcb",
                            "choices": [{
                              "index": 0,
                              "message": {
                                "role": "assistant",
                                "content": "\n\nHello there, how may I assist you today?",
                              },
                              "logprobs": null,
                              "finish_reason": "stop"
                            }],
                            "usage": {
                              "prompt_tokens": 9,
                              "completion_tokens": 12,
                              "total_tokens": 21
                            }
                          }
                    - title: Image input
                      request:
                          curl: |
                              curl https://api.openai.com/v1/chat/completions \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "model": "gpt-4o",
                                  "messages": [
                                    {
                                      "role": "user",
                                      "content": [
                                        {
                                          "type": "text",
                                          "text": "What'\''s in this image?"
                                        },
                                        {
                                          "type": "image_url",
                                          "image_url": {
                                            "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                                          }
                                        }
                                      ]
                                    }
                                  ],
                                  "max_tokens": 300
                                }'
                          python: |
                              from openai import OpenAI

                              client = OpenAI()

                              response = client.chat.completions.create(
                                  model="gpt-4o",
                                  messages=[
                                      {
                                          "role": "user",
                                          "content": [
                                              {"type": "text", "text": "What's in this image?"},
                                              {
                                                  "type": "image_url",
                                                  "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg",
                                              },
                                          ],
                                      }
                                  ],
                                  max_tokens=300,
                              )

                              print(response.choices[0])
                          node.js: |-
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const response = await openai.chat.completions.create({
                                  model: "gpt-4o",
                                  messages: [
                                    {
                                      role: "user",
                                      content: [
                                        { type: "text", text: "What's in this image?" },
                                        {
                                          type: "image_url",
                                          image_url:
                                            "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg",
                                        },
                                      ],
                                    },
                                  ],
                                });
                                console.log(response.choices[0]);
                              }
                              main();
                      response: &chat_completion_image_example |
                          {
                            "id": "chatcmpl-123",
                            "object": "chat.completion",
                            "created": 1677652288,
                            "model": "gpt-4o-mini",
                            "system_fingerprint": "fp_44709d6fcb",
                            "choices": [{
                              "index": 0,
                              "message": {
                                "role": "assistant",
                                "content": "\n\nThis image shows a wooden boardwalk extending through a lush green marshland.",
                              },
                              "logprobs": null,
                              "finish_reason": "stop"
                            }],
                            "usage": {
                              "prompt_tokens": 9,
                              "completion_tokens": 12,
                              "total_tokens": 21
                            }
                          }
                    - title: Streaming
                      request:
                          curl: |
                              curl https://api.openai.com/v1/chat/completions \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "model": "VAR_model_id",
                                  "messages": [
                                    {
                                      "role": "system",
                                      "content": "You are a helpful assistant."
                                    },
                                    {
                                      "role": "user",
                                      "content": "Hello!"
                                    }
                                  ],
                                  "stream": true
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              completion = client.chat.completions.create(
                                model="VAR_model_id",
                                messages=[
                                  {"role": "system", "content": "You are a helpful assistant."},
                                  {"role": "user", "content": "Hello!"}
                                ],
                                stream=True
                              )

                              for chunk in completion:
                                print(chunk.choices[0].delta)

                          node.js: |-
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const completion = await openai.chat.completions.create({
                                  model: "VAR_model_id",
                                  messages: [
                                    {"role": "system", "content": "You are a helpful assistant."},
                                    {"role": "user", "content": "Hello!"}
                                  ],
                                  stream: true,
                                });

                                for await (const chunk of completion) {
                                  console.log(chunk.choices[0].delta.content);
                                }
                              }

                              main();
                      response: &chat_completion_chunk_example |
                          {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini", "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"role":"assistant","content":""},"logprobs":null,"finish_reason":null}]}

                          {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini", "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"content":"Hello"},"logprobs":null,"finish_reason":null}]}

                          ....

                          {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini", "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{},"logprobs":null,"finish_reason":"stop"}]}
                    - title: Functions
                      request:
                          curl: |
                              curl https://api.openai.com/v1/chat/completions \
                              -H "Content-Type: application/json" \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -d '{
                                "model": "gpt-4o",
                                "messages": [
                                  {
                                    "role": "user",
                                    "content": "What'\''s the weather like in Boston today?"
                                  }
                                ],
                                "tools": [
                                  {
                                    "type": "function",
                                    "function": {
                                      "name": "get_current_weather",
                                      "description": "Get the current weather in a given location",
                                      "parameters": {
                                        "type": "object",
                                        "properties": {
                                          "location": {
                                            "type": "string",
                                            "description": "The city and state, e.g. San Francisco, CA"
                                          },
                                          "unit": {
                                            "type": "string",
                                            "enum": ["celsius", "fahrenheit"]
                                          }
                                        },
                                        "required": ["location"]
                                      }
                                    }
                                  }
                                ],
                                "tool_choice": "auto"
                              }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              tools = [
                                {
                                  "type": "function",
                                  "function": {
                                    "name": "get_current_weather",
                                    "description": "Get the current weather in a given location",
                                    "parameters": {
                                      "type": "object",
                                      "properties": {
                                        "location": {
                                          "type": "string",
                                          "description": "The city and state, e.g. San Francisco, CA",
                                        },
                                        "unit": {"type": "string", "enum": ["celsius", "fahrenheit"]},
                                      },
                                      "required": ["location"],
                                    },
                                  }
                                }
                              ]
                              messages = [{"role": "user", "content": "What's the weather like in Boston today?"}]
                              completion = client.chat.completions.create(
                                model="VAR_model_id",
                                messages=messages,
                                tools=tools,
                                tool_choice="auto"
                              )

                              print(completion)
                          node.js: |-
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const messages = [{"role": "user", "content": "What's the weather like in Boston today?"}];
                                const tools = [
                                    {
                                      "type": "function",
                                      "function": {
                                        "name": "get_current_weather",
                                        "description": "Get the current weather in a given location",
                                        "parameters": {
                                          "type": "object",
                                          "properties": {
                                            "location": {
                                              "type": "string",
                                              "description": "The city and state, e.g. San Francisco, CA",
                                            },
                                            "unit": {"type": "string", "enum": ["celsius", "fahrenheit"]},
                                          },
                                          "required": ["location"],
                                        },
                                      }
                                    }
                                ];

                                const response = await openai.chat.completions.create({
                                  model: "gpt-4o",
                                  messages: messages,
                                  tools: tools,
                                  tool_choice: "auto",
                                });

                                console.log(response);
                              }

                              main();
                      response: &chat_completion_function_example |
                          {
                            "id": "chatcmpl-abc123",
                            "object": "chat.completion",
                            "created": 1699896916,
                            "model": "gpt-4o-mini",
                            "choices": [
                              {
                                "index": 0,
                                "message": {
                                  "role": "assistant",
                                  "content": null,
                                  "tool_calls": [
                                    {
                                      "id": "call_abc123",
                                      "type": "function",
                                      "function": {
                                        "name": "get_current_weather",
                                        "arguments": "{\n\"location\": \"Boston, MA\"\n}"
                                      }
                                    }
                                  ]
                                },
                                "logprobs": null,
                                "finish_reason": "tool_calls"
                              }
                            ],
                            "usage": {
                              "prompt_tokens": 82,
                              "completion_tokens": 17,
                              "total_tokens": 99
                            }
                          }
                    - title: Logprobs
                      request:
                          curl: |
                              curl https://api.openai.com/v1/chat/completions \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "model": "VAR_model_id",
                                  "messages": [
                                    {
                                      "role": "user",
                                      "content": "Hello!"
                                    }
                                  ],
                                  "logprobs": true,
                                  "top_logprobs": 2
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              completion = client.chat.completions.create(
                                model="VAR_model_id",
                                messages=[
                                  {"role": "user", "content": "Hello!"}
                                ],
                                logprobs=True,
                                top_logprobs=2
                              )

                              print(completion.choices[0].message)
                              print(completion.choices[0].logprobs)
                          node.js: |-
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const completion = await openai.chat.completions.create({
                                  messages: [{ role: "user", content: "Hello!" }],
                                  model: "VAR_model_id",
                                  logprobs: true,
                                  top_logprobs: 2,
                                });

                                console.log(completion.choices[0]);
                              }

                              main();
                      response: |
                          {
                            "id": "chatcmpl-123",
                            "object": "chat.completion",
                            "created": 1702685778,
                            "model": "gpt-4o-mini",
                            "choices": [
                              {
                                "index": 0,
                                "message": {
                                  "role": "assistant",
                                  "content": "Hello! How can I assist you today?"
                                },
                                "logprobs": {
                                  "content": [
                                    {
                                      "token": "Hello",
                                      "logprob": -0.31725305,
                                      "bytes": [72, 101, 108, 108, 111],
                                      "top_logprobs": [
                                        {
                                          "token": "Hello",
                                          "logprob": -0.31725305,
                                          "bytes": [72, 101, 108, 108, 111]
                                        },
                                        {
                                          "token": "Hi",
                                          "logprob": -1.3190403,
                                          "bytes": [72, 105]
                                        }
                                      ]
                                    },
                                    {
                                      "token": "!",
                                      "logprob": -0.02380986,
                                      "bytes": [
                                        33
                                      ],
                                      "top_logprobs": [
                                        {
                                          "token": "!",
                                          "logprob": -0.02380986,
                                          "bytes": [33]
                                        },
                                        {
                                          "token": " there",
                                          "logprob": -3.787621,
                                          "bytes": [32, 116, 104, 101, 114, 101]
                                        }
                                      ]
                                    },
                                    {
                                      "token": " How",
                                      "logprob": -0.000054669687,
                                      "bytes": [32, 72, 111, 119],
                                      "top_logprobs": [
                                        {
                                          "token": " How",
                                          "logprob": -0.000054669687,
                                          "bytes": [32, 72, 111, 119]
                                        },
                                        {
                                          "token": "<|end|>",
                                          "logprob": -10.953937,
                                          "bytes": null
                                        }
                                      ]
                                    },
                                    {
                                      "token": " can",
                                      "logprob": -0.015801601,
                                      "bytes": [32, 99, 97, 110],
                                      "top_logprobs": [
                                        {
                                          "token": " can",
                                          "logprob": -0.015801601,
                                          "bytes": [32, 99, 97, 110]
                                        },
                                        {
                                          "token": " may",
                                          "logprob": -4.161023,
                                          "bytes": [32, 109, 97, 121]
                                        }
                                      ]
                                    },
                                    {
                                      "token": " I",
                                      "logprob": -3.7697225e-6,
                                      "bytes": [
                                        32,
                                        73
                                      ],
                                      "top_logprobs": [
                                        {
                                          "token": " I",
                                          "logprob": -3.7697225e-6,
                                          "bytes": [32, 73]
                                        },
                                        {
                                          "token": " assist",
                                          "logprob": -13.596657,
                                          "bytes": [32, 97, 115, 115, 105, 115, 116]
                                        }
                                      ]
                                    },
                                    {
                                      "token": " assist",
                                      "logprob": -0.04571125,
                                      "bytes": [32, 97, 115, 115, 105, 115, 116],
                                      "top_logprobs": [
                                        {
                                          "token": " assist",
                                          "logprob": -0.04571125,
                                          "bytes": [32, 97, 115, 115, 105, 115, 116]
                                        },
                                        {
                                          "token": " help",
                                          "logprob": -3.1089056,
                                          "bytes": [32, 104, 101, 108, 112]
                                        }
                                      ]
                                    },
                                    {
                                      "token": " you",
                                      "logprob": -5.4385737e-6,
                                      "bytes": [32, 121, 111, 117],
                                      "top_logprobs": [
                                        {
                                          "token": " you",
                                          "logprob": -5.4385737e-6,
                                          "bytes": [32, 121, 111, 117]
                                        },
                                        {
                                          "token": " today",
                                          "logprob": -12.807695,
                                          "bytes": [32, 116, 111, 100, 97, 121]
                                        }
                                      ]
                                    },
                                    {
                                      "token": " today",
                                      "logprob": -0.0040071653,
                                      "bytes": [32, 116, 111, 100, 97, 121],
                                      "top_logprobs": [
                                        {
                                          "token": " today",
                                          "logprob": -0.0040071653,
                                          "bytes": [32, 116, 111, 100, 97, 121]
                                        },
                                        {
                                          "token": "?",
                                          "logprob": -5.5247097,
                                          "bytes": [63]
                                        }
                                      ]
                                    },
                                    {
                                      "token": "?",
                                      "logprob": -0.0008108172,
                                      "bytes": [63],
                                      "top_logprobs": [
                                        {
                                          "token": "?",
                                          "logprob": -0.0008108172,
                                          "bytes": [63]
                                        },
                                        {
                                          "token": "?\n",
                                          "logprob": -7.184561,
                                          "bytes": [63, 10]
                                        }
                                      ]
                                    }
                                  ]
                                },
                                "finish_reason": "stop"
                              }
                            ],
                            "usage": {
                              "prompt_tokens": 9,
                              "completion_tokens": 9,
                              "total_tokens": 18
                            },
                            "system_fingerprint": null
                          }

    /completions:
        post:
            operationId: createCompletion
            tags:
                - Completions
            summary: Creates a completion for the provided prompt and parameters.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateCompletionRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateCompletionResponse"
            x-oaiMeta:
                name: Create completion
                group: completions
                returns: |
                    Returns a [completion](/docs/api-reference/completions/object) object, or a sequence of completion objects if the request is streamed.
                legacy: true
                examples:
                    - title: No streaming
                      request:
                          curl: |
                              curl https://api.openai.com/v1/completions \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "model": "VAR_model_id",
                                  "prompt": "Say this is a test",
                                  "max_tokens": 7,
                                  "temperature": 0
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              client.completions.create(
                                model="VAR_model_id",
                                prompt="Say this is a test",
                                max_tokens=7,
                                temperature=0
                              )
                          node.js: |-
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const completion = await openai.completions.create({
                                  model: "VAR_model_id",
                                  prompt: "Say this is a test.",
                                  max_tokens: 7,
                                  temperature: 0,
                                });

                                console.log(completion);
                              }
                              main();
                      response: |
                          {
                            "id": "cmpl-uqkvlQyYK7bGYrRHQ0eXlWi7",
                            "object": "text_completion",
                            "created": 1589478378,
                            "model": "VAR_model_id",
                            "system_fingerprint": "fp_44709d6fcb",
                            "choices": [
                              {
                                "text": "\n\nThis is indeed a test",
                                "index": 0,
                                "logprobs": null,
                                "finish_reason": "length"
                              }
                            ],
                            "usage": {
                              "prompt_tokens": 5,
                              "completion_tokens": 7,
                              "total_tokens": 12
                            }
                          }
                    - title: Streaming
                      request:
                          curl: |
                              curl https://api.openai.com/v1/completions \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "model": "VAR_model_id",
                                  "prompt": "Say this is a test",
                                  "max_tokens": 7,
                                  "temperature": 0,
                                  "stream": true
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              for chunk in client.completions.create(
                                model="VAR_model_id",
                                prompt="Say this is a test",
                                max_tokens=7,
                                temperature=0,
                                stream=True
                              ):
                                print(chunk.choices[0].text)
                          node.js: |-
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const stream = await openai.completions.create({
                                  model: "VAR_model_id",
                                  prompt: "Say this is a test.",
                                  stream: true,
                                });

                                for await (const chunk of stream) {
                                  console.log(chunk.choices[0].text)
                                }
                              }
                              main();
                      response: |
                          {
                            "id": "cmpl-7iA7iJjj8V2zOkCGvWF2hAkDWBQZe",
                            "object": "text_completion",
                            "created": 1690759702,
                            "choices": [
                              {
                                "text": "This",
                                "index": 0,
                                "logprobs": null,
                                "finish_reason": null
                              }
                            ],
                            "model": "gpt-3.5-turbo-instruct"
                            "system_fingerprint": "fp_44709d6fcb",
                          }

    /images/generations:
        post:
            operationId: createImage
            tags:
                - Images
            summary: Creates an image given a prompt.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateImageRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ImagesResponse"
            x-oaiMeta:
                name: Create image
                group: images
                returns: Returns a list of [image](/docs/api-reference/images/object) objects.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/images/generations \
                              -H "Content-Type: application/json" \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -d '{
                                "model": "dall-e-3",
                                "prompt": "A cute baby sea otter",
                                "n": 1,
                                "size": "1024x1024"
                              }'
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            client.images.generate(
                              model="dall-e-3",
                              prompt="A cute baby sea otter",
                              n=1,
                              size="1024x1024"
                            )
                        node.js: |-
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const image = await openai.images.generate({ model: "dall-e-3", prompt: "A cute baby sea otter" });

                              console.log(image.data);
                            }
                            main();
                    response: |
                        {
                          "created": 1589478378,
                          "data": [
                            {
                              "url": "https://..."
                            },
                            {
                              "url": "https://..."
                            }
                          ]
                        }
    /images/edits:
        post:
            operationId: createImageEdit
            tags:
                - Images
            summary: Creates an edited or extended image given an original image and a prompt.
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateImageEditRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ImagesResponse"
            x-oaiMeta:
                name: Create image edit
                group: images
                returns: Returns a list of [image](/docs/api-reference/images/object) objects.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/images/edits \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -F image="@otter.png" \
                              -F mask="@mask.png" \
                              -F prompt="A cute baby sea otter wearing a beret" \
                              -F n=2 \
                              -F size="1024x1024"
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            client.images.edit(
                              image=open("otter.png", "rb"),
                              mask=open("mask.png", "rb"),
                              prompt="A cute baby sea otter wearing a beret",
                              n=2,
                              size="1024x1024"
                            )
                        node.js: |-
                            import fs from "fs";
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const image = await openai.images.edit({
                                image: fs.createReadStream("otter.png"),
                                mask: fs.createReadStream("mask.png"),
                                prompt: "A cute baby sea otter wearing a beret",
                              });

                              console.log(image.data);
                            }
                            main();
                    response: |
                        {
                          "created": 1589478378,
                          "data": [
                            {
                              "url": "https://..."
                            },
                            {
                              "url": "https://..."
                            }
                          ]
                        }
    /images/variations:
        post:
            operationId: createImageVariation
            tags:
                - Images
            summary: Creates a variation of a given image.
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateImageVariationRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ImagesResponse"
            x-oaiMeta:
                name: Create image variation
                group: images
                returns: Returns a list of [image](/docs/api-reference/images/object) objects.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/images/variations \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -F image="@otter.png" \
                              -F n=2 \
                              -F size="1024x1024"
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            response = client.images.create_variation(
                              image=open("image_edit_original.png", "rb"),
                              n=2,
                              size="1024x1024"
                            )
                        node.js: |-
                            import fs from "fs";
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const image = await openai.images.createVariation({
                                image: fs.createReadStream("otter.png"),
                              });

                              console.log(image.data);
                            }
                            main();
                    response: |
                        {
                          "created": 1589478378,
                          "data": [
                            {
                              "url": "https://..."
                            },
                            {
                              "url": "https://..."
                            }
                          ]
                        }

    /embeddings:
        post:
            operationId: createEmbedding
            tags:
                - Embeddings
            summary: Creates an embedding vector representing the input text.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateEmbeddingRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateEmbeddingResponse"
            x-oaiMeta:
                name: Create embeddings
                group: embeddings
                returns: A list of [embedding](/docs/api-reference/embeddings/object) objects.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/embeddings \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -H "Content-Type: application/json" \
                              -d '{
                                "input": "The food was delicious and the waiter...",
                                "model": "text-embedding-ada-002",
                                "encoding_format": "float"
                              }'
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            client.embeddings.create(
                              model="text-embedding-ada-002",
                              input="The food was delicious and the waiter...",
                              encoding_format="float"
                            )
                        node.js: |-
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const embedding = await openai.embeddings.create({
                                model: "text-embedding-ada-002",
                                input: "The quick brown fox jumped over the lazy dog",
                                encoding_format: "float",
                              });

                              console.log(embedding);
                            }

                            main();
                    response: |
                        {
                          "object": "list",
                          "data": [
                            {
                              "object": "embedding",
                              "embedding": [
                                0.0023064255,
                                -0.009327292,
                                .... (1536 floats total for ada-002)
                                -0.0028842222,
                              ],
                              "index": 0
                            }
                          ],
                          "model": "text-embedding-ada-002",
                          "usage": {
                            "prompt_tokens": 8,
                            "total_tokens": 8
                          }
                        }

    /audio/speech:
        post:
            operationId: createSpeech
            tags:
                - Audio
            summary: Generates audio from the input text.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateSpeechRequest"
            responses:
                "200":
                    description: OK
                    headers:
                        Transfer-Encoding:
                            schema:
                                type: string
                            description: chunked
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                format: binary
            x-oaiMeta:
                name: Create speech
                group: audio
                returns: The audio file content.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/audio/speech \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -H "Content-Type: application/json" \
                              -d '{
                                "model": "tts-1",
                                "input": "The quick brown fox jumped over the lazy dog.",
                                "voice": "alloy"
                              }' \
                              --output speech.mp3
                        python: |
                            from pathlib import Path
                            import openai

                            speech_file_path = Path(__file__).parent / "speech.mp3"
                            response = openai.audio.speech.create(
                              model="tts-1",
                              voice="alloy",
                              input="The quick brown fox jumped over the lazy dog."
                            )
                            response.stream_to_file(speech_file_path)
                        node: |
                            import fs from "fs";
                            import path from "path";
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            const speechFile = path.resolve("./speech.mp3");

                            async function main() {
                              const mp3 = await openai.audio.speech.create({
                                model: "tts-1",
                                voice: "alloy",
                                input: "Today is a wonderful day to build something people love!",
                              });
                              console.log(speechFile);
                              const buffer = Buffer.from(await mp3.arrayBuffer());
                              await fs.promises.writeFile(speechFile, buffer);
                            }
                            main();
    /audio/transcriptions:
        post:
            operationId: createTranscription
            tags:
                - Audio
            summary: Transcribes audio into the input language.
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateTranscriptionRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: "#/components/schemas/CreateTranscriptionResponseJson"
                                    - $ref: "#/components/schemas/CreateTranscriptionResponseVerboseJson"
            x-oaiMeta:
                name: Create transcription
                group: audio
                returns: The [transcription object](/docs/api-reference/audio/json-object) or a [verbose transcription object](/docs/api-reference/audio/verbose-json-object).
                examples:
                    - title: Default
                      request:
                          curl: |
                              curl https://api.openai.com/v1/audio/transcriptions \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -H "Content-Type: multipart/form-data" \
                                -F file="@/path/to/file/audio.mp3" \
                                -F model="whisper-1"
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              audio_file = open("speech.mp3", "rb")
                              transcript = client.audio.transcriptions.create(
                                model="whisper-1",
                                file=audio_file
                              )
                          node: |
                              import fs from "fs";
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const transcription = await openai.audio.transcriptions.create({
                                  file: fs.createReadStream("audio.mp3"),
                                  model: "whisper-1",
                                });

                                console.log(transcription.text);
                              }
                              main();
                      response: &basic_transcription_response_example |
                          {
                            "text": "Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that."
                          }
                    - title: Word timestamps
                      request:
                          curl: |
                              curl https://api.openai.com/v1/audio/transcriptions \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -H "Content-Type: multipart/form-data" \
                                -F file="@/path/to/file/audio.mp3" \
                                -F "timestamp_granularities[]=word" \
                                -F model="whisper-1" \
                                -F response_format="verbose_json"
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              audio_file = open("speech.mp3", "rb")
                              transcript = client.audio.transcriptions.create(
                                file=audio_file,
                                model="whisper-1",
                                response_format="verbose_json",
                                timestamp_granularities=["word"]
                              )

                              print(transcript.words)
                          node: |
                              import fs from "fs";
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const transcription = await openai.audio.transcriptions.create({
                                  file: fs.createReadStream("audio.mp3"),
                                  model: "whisper-1",
                                  response_format: "verbose_json",
                                  timestamp_granularities: ["word"]
                                });

                                console.log(transcription.text);
                              }
                              main();
                      response: |
                          {
                            "task": "transcribe",
                            "language": "english",
                            "duration": 8.470000267028809,
                            "text": "The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.",
                            "words": [
                              {
                                "word": "The",
                                "start": 0.0,
                                "end": 0.23999999463558197
                              },
                              ...
                              {
                                "word": "volleyball",
                                "start": 7.400000095367432,
                                "end": 7.900000095367432
                              }
                            ]
                          }
                    - title: Segment timestamps
                      request:
                          curl: |
                              curl https://api.openai.com/v1/audio/transcriptions \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -H "Content-Type: multipart/form-data" \
                                -F file="@/path/to/file/audio.mp3" \
                                -F "timestamp_granularities[]=segment" \
                                -F model="whisper-1" \
                                -F response_format="verbose_json"
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              audio_file = open("speech.mp3", "rb")
                              transcript = client.audio.transcriptions.create(
                                file=audio_file,
                                model="whisper-1",
                                response_format="verbose_json",
                                timestamp_granularities=["segment"]
                              )

                              print(transcript.words)
                          node: |
                              import fs from "fs";
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const transcription = await openai.audio.transcriptions.create({
                                  file: fs.createReadStream("audio.mp3"),
                                  model: "whisper-1",
                                  response_format: "verbose_json",
                                  timestamp_granularities: ["segment"]
                                });

                                console.log(transcription.text);
                              }
                              main();
                      response: &verbose_transcription_response_example |
                          {
                            "task": "transcribe",
                            "language": "english",
                            "duration": 8.470000267028809,
                            "text": "The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.",
                            "segments": [
                              {
                                "id": 0,
                                "seek": 0,
                                "start": 0.0,
                                "end": 3.319999933242798,
                                "text": " The beach was a popular spot on a hot summer day.",
                                "tokens": [
                                  50364, 440, 7534, 390, 257, 3743, 4008, 322, 257, 2368, 4266, 786, 13, 50530
                                ],
                                "temperature": 0.0,
                                "avg_logprob": -0.2860786020755768,
                                "compression_ratio": 1.2363636493682861,
                                "no_speech_prob": 0.00985979475080967
                              },
                              ...
                            ]
                          }
    /audio/translations:
        post:
            operationId: createTranslation
            tags:
                - Audio
            summary: Translates audio into English.
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateTranslationRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: "#/components/schemas/CreateTranslationResponseJson"
                                    - $ref: "#/components/schemas/CreateTranslationResponseVerboseJson"
            x-oaiMeta:
                name: Create translation
                group: audio
                returns: The translated text.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/audio/translations \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -H "Content-Type: multipart/form-data" \
                              -F file="@/path/to/file/german.m4a" \
                              -F model="whisper-1"
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            audio_file = open("speech.mp3", "rb")
                            transcript = client.audio.translations.create(
                              model="whisper-1",
                              file=audio_file
                            )
                        node: |
                            import fs from "fs";
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                                const translation = await openai.audio.translations.create({
                                    file: fs.createReadStream("speech.mp3"),
                                    model: "whisper-1",
                                });

                                console.log(translation.text);
                            }
                            main();
                    response: |
                        {
                          "text": "Hello, my name is Wolfgang and I come from Germany. Where are you heading today?"
                        }

    /files:
        get:
            operationId: listFiles
            tags:
                - Files
            summary: Returns a list of files that belong to the user's organization.
            parameters:
                - in: query
                  name: purpose
                  required: false
                  schema:
                      type: string
                  description: Only return files with the given purpose.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListFilesResponse"
            x-oaiMeta:
                name: List files
                group: files
                returns: A list of [File](/docs/api-reference/files/object) objects.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/files \
                              -H "Authorization: Bearer $OPENAI_API_KEY"
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            client.files.list()
                        node.js: |-
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const list = await openai.files.list();

                              for await (const file of list) {
                                console.log(file);
                              }
                            }

                            main();
                    response: |
                        {
                          "data": [
                            {
                              "id": "file-abc123",
                              "object": "file",
                              "bytes": 175,
                              "created_at": 1613677385,
                              "filename": "salesOverview.pdf",
                              "purpose": "assistants",
                            },
                            {
                              "id": "file-abc123",
                              "object": "file",
                              "bytes": 140,
                              "created_at": 1613779121,
                              "filename": "puppy.jsonl",
                              "purpose": "fine-tune",
                            }
                          ],
                          "object": "list"
                        }
        post:
            operationId: createFile
            tags:
                - Files
            summary: |
                Upload a file that can be used across various endpoints. Individual files can be up to 512 MB, and the size of all files uploaded by one organization can be up to 100 GB.

                The Assistants API supports files up to 2 million tokens and of specific file types. See the [Assistants Tools guide](/docs/assistants/tools) for details.

                The Fine-tuning API only supports `.jsonl` files. The input also has certain required formats for fine-tuning [chat](/docs/api-reference/fine-tuning/chat-input) or [completions](/docs/api-reference/fine-tuning/completions-input) models.

                The Batch API only supports `.jsonl` files up to 100 MB in size. The input also has a specific required [format](/docs/api-reference/batch/request-input).

                Please [contact us](https://help.openai.com/) if you need to increase these storage limits.
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateFileRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/OpenAIFile"
            x-oaiMeta:
                name: Upload file
                group: files
                returns: The uploaded [File](/docs/api-reference/files/object) object.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/files \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -F purpose="fine-tune" \
                              -F file="@mydata.jsonl"
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            client.files.create(
                              file=open("mydata.jsonl", "rb"),
                              purpose="fine-tune"
                            )
                        node.js: |-
                            import fs from "fs";
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const file = await openai.files.create({
                                file: fs.createReadStream("mydata.jsonl"),
                                purpose: "fine-tune",
                              });

                              console.log(file);
                            }

                            main();
                    response: |
                        {
                          "id": "file-abc123",
                          "object": "file",
                          "bytes": 120000,
                          "created_at": 1677610602,
                          "filename": "mydata.jsonl",
                          "purpose": "fine-tune",
                        }
    /files/{file_id}:
        delete:
            operationId: deleteFile
            tags:
                - Files
            summary: Delete a file.
            parameters:
                - in: path
                  name: file_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the file to use for this request.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DeleteFileResponse"
            x-oaiMeta:
                name: Delete file
                group: files
                returns: Deletion status.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/files/file-abc123 \
                              -X DELETE \
                              -H "Authorization: Bearer $OPENAI_API_KEY"
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            client.files.delete("file-abc123")
                        node.js: |-
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const file = await openai.files.del("file-abc123");

                              console.log(file);
                            }

                            main();
                    response: |
                        {
                          "id": "file-abc123",
                          "object": "file",
                          "deleted": true
                        }
        get:
            operationId: retrieveFile
            tags:
                - Files
            summary: Returns information about a specific file.
            parameters:
                - in: path
                  name: file_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the file to use for this request.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/OpenAIFile"
            x-oaiMeta:
                name: Retrieve file
                group: files
                returns: The [File](/docs/api-reference/files/object) object matching the specified ID.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/files/file-abc123 \
                              -H "Authorization: Bearer $OPENAI_API_KEY"
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            client.files.retrieve("file-abc123")
                        node.js: |-
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const file = await openai.files.retrieve("file-abc123");

                              console.log(file);
                            }

                            main();
                    response: |
                        {
                          "id": "file-abc123",
                          "object": "file",
                          "bytes": 120000,
                          "created_at": 1677610602,
                          "filename": "mydata.jsonl",
                          "purpose": "fine-tune",
                        }
    /files/{file_id}/content:
        get:
            operationId: downloadFile
            tags:
                - Files
            summary: Returns the contents of the specified file.
            parameters:
                - in: path
                  name: file_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the file to use for this request.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: string
            x-oaiMeta:
                name: Retrieve file content
                group: files
                returns: The file content.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/files/file-abc123/content \
                              -H "Authorization: Bearer $OPENAI_API_KEY" > file.jsonl
                        python: |
                            from openai import OpenAI
                            client = OpenAI()

                            content = client.files.content("file-abc123")
                        node.js: |
                            import OpenAI from "openai";

                            const openai = new OpenAI();

                            async function main() {
                              const file = await openai.files.content("file-abc123");

                              console.log(file);
                            }

                            main();
    /uploads:
        post:
            operationId: createUpload
            tags:
                - Uploads
            summary: |
                Creates an intermediate [Upload](/docs/api-reference/uploads/object) object that you can add [Parts](/docs/api-reference/uploads/part-object) to. Currently, an Upload can accept at most 8 GB in total and expires after an hour after you create it.

                Once you complete the Upload, we will create a [File](/docs/api-reference/files/object) object that contains all the parts you uploaded. This File is usable in the rest of our platform as a regular File object.

                For certain `purpose`s, the correct `mime_type` must be specified. Please refer to documentation for the supported MIME types for your use case:
                - [Assistants](/docs/assistants/tools/file-search/supported-files)

                For guidance on the proper filename extensions for each purpose, please follow the documentation on [creating a File](/docs/api-reference/files/create).
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateUploadRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Upload"
            x-oaiMeta:
                name: Create upload
                group: uploads
                returns: The [Upload](/docs/api-reference/uploads/object) object with status `pending`.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/uploads \
                              -H "Authorization: Bearer $OPENAI_API_KEY" \
                              -d '{
                                "purpose": "fine-tune",
                                "filename": "training_examples.jsonl",
                                "bytes": 2147483648,
                                "mime_type": "text/jsonl"
                              }'
                    response: |
                        {
                          "id": "upload_abc123",
                          "object": "upload",
                          "bytes": 2147483648,
                          "created_at": 1719184911,
                          "filename": "training_examples.jsonl",
                          "purpose": "fine-tune",
                          "status": "pending",
                          "expires_at": 1719127296
                        }

    /uploads/{upload_id}/parts:
        post:
            operationId: addUploadPart
            tags:
                - Uploads
            summary: |
                Adds a [Part](/docs/api-reference/uploads/part-object) to an [Upload](/docs/api-reference/uploads/object) object. A Part represents a chunk of bytes from the file you are trying to upload.

                Each Part can be at most 64 MB, and you can add Parts until you hit the Upload maximum of 8 GB.

                It is possible to add multiple Parts in parallel. You can decide the intended order of the Parts when you [complete the Upload](/docs/api-reference/uploads/complete).
            parameters:
                - in: path
                  name: upload_id
                  required: true
                  schema:
                      type: string
                      example: upload_abc123
                  description: |
                      The ID of the Upload.
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/AddUploadPartRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/UploadPart"
            x-oaiMeta:
                name: Add upload part
                group: uploads
                returns: The upload [Part](/docs/api-reference/uploads/part-object) object.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/uploads/upload_abc123/parts
                              -F data="aHR0cHM6Ly9hcGkub3BlbmFpLmNvbS92MS91cGxvYWRz..."
                    response: |
                        {
                          "id": "part_def456",
                          "object": "upload.part",
                          "created_at": 1719185911,
                          "upload_id": "upload_abc123"
                        }

    /uploads/{upload_id}/complete:
        post:
            operationId: completeUpload
            tags:
                - Uploads
            summary: |
                Completes the [Upload](/docs/api-reference/uploads/object).

                Within the returned Upload object, there is a nested [File](/docs/api-reference/files/object) object that is ready to use in the rest of the platform.

                You can specify the order of the Parts by passing in an ordered list of the Part IDs.

                The number of bytes uploaded upon completion must match the number of bytes initially specified when creating the Upload object. No Parts may be added after an Upload is completed.
            parameters:
                - in: path
                  name: upload_id
                  required: true
                  schema:
                      type: string
                      example: upload_abc123
                  description: |
                      The ID of the Upload.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CompleteUploadRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Upload"
            x-oaiMeta:
                name: Complete upload
                group: uploads
                returns: The [Upload](/docs/api-reference/uploads/object) object with status `completed` with an additional `file` property containing the created usable File object.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/uploads/upload_abc123/complete
                              -d '{
                                "part_ids": ["part_def456", "part_ghi789"]
                              }'
                    response: |
                        {
                          "id": "upload_abc123",
                          "object": "upload",
                          "bytes": 2147483648,
                          "created_at": 1719184911,
                          "filename": "training_examples.jsonl",
                          "purpose": "fine-tune",
                          "status": "completed",
                          "expires_at": 1719127296,
                          "file": {
                            "id": "file-xyz321",
                            "object": "file",
                            "bytes": 2147483648,
                            "created_at": 1719186911,
                            "filename": "training_examples.jsonl",
                            "purpose": "fine-tune",
                          }
                        }

    /uploads/{upload_id}/cancel:
        post:
            operationId: cancelUpload
            tags:
                - Uploads
            summary: |
                Cancels the Upload. No Parts may be added after an Upload is cancelled.
            parameters:
                - in: path
                  name: upload_id
                  required: true
                  schema:
                      type: string
                      example: upload_abc123
                  description: |
                      The ID of the Upload.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Upload"
            x-oaiMeta:
                name: Cancel upload
                group: uploads
                returns: The [Upload](/docs/api-reference/uploads/object) object with status `cancelled`.
                examples:
                    request:
                        curl: |
                            curl https://api.openai.com/v1/uploads/upload_abc123/cancel
                    response: |
                        {
                          "id": "upload_abc123",
                          "object": "upload",
                          "bytes": 2147483648,
                          "created_at": 1719184911,
                          "filename": "training_examples.jsonl",
                          "purpose": "fine-tune",
                          "status": "cancelled",
                          "expires_at": 1719127296
                        }

    /fine_tuning/jobs:
        post:
            operationId: createFineTuningJob
            tags:
                - Fine-tuning
            summary: |
                Creates a fine-tuning job which begins the process of creating a new model from a given dataset.

                Response includes details of the enqueued job including job status and the name of the fine-tuned models once complete.

                [Learn more about fine-tuning](/docs/guides/fine-tuning)
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateFineTuningJobRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/FineTuningJob"
            x-oaiMeta:
                name: Create fine-tuning job
                group: fine-tuning
                returns: A [fine-tuning.job](/docs/api-reference/fine-tuning/object) object.
                examples:
                    - title: Default
                      request:
                          curl: |
                              curl https://api.openai.com/v1/fine_tuning/jobs \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "training_file": "file-BK7bzQj3FfZFXr7DbL6xJwfo",
                                  "model": "gpt-4o-mini"
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              client.fine_tuning.jobs.create(
                                training_file="file-abc123",
                                model="gpt-4o-mini"
                              )
                          node.js: |
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const fineTune = await openai.fineTuning.jobs.create({
                                  training_file: "file-abc123"
                                });

                                console.log(fineTune);
                              }

                              main();
                      response: |
                          {
                            "object": "fine_tuning.job",
                            "id": "ftjob-abc123",
                            "model": "gpt-4o-mini-2024-07-18",
                            "created_at": 1721764800,
                            "fine_tuned_model": null,
                            "organization_id": "org-123",
                            "result_files": [],
                            "status": "queued",
                            "validation_file": null,
                            "training_file": "file-abc123",
                          }
                    - title: Epochs
                      request:
                          curl: |
                              curl https://api.openai.com/v1/fine_tuning/jobs \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "training_file": "file-abc123",
                                  "model": "gpt-4o-mini",
                                  "hyperparameters": {
                                    "n_epochs": 2
                                  }
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              client.fine_tuning.jobs.create(
                                training_file="file-abc123",
                                model="gpt-4o-mini",
                                hyperparameters={
                                  "n_epochs":2
                                }
                              )
                          node.js: |
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const fineTune = await openai.fineTuning.jobs.create({
                                  training_file: "file-abc123",
                                  model: "gpt-4o-mini",
                                  hyperparameters: { n_epochs: 2 }
                                });

                                console.log(fineTune);
                              }

                              main();
                      response: |
                          {
                            "object": "fine_tuning.job",
                            "id": "ftjob-abc123",
                            "model": "gpt-4o-mini-2024-07-18",
                            "created_at": 1721764800,
                            "fine_tuned_model": null,
                            "organization_id": "org-123",
                            "result_files": [],
                            "status": "queued",
                            "validation_file": null,
                            "training_file": "file-abc123",
                            "hyperparameters": {"n_epochs": 2},
                          }
                    - title: Validation file
                      request:
                          curl: |
                              curl https://api.openai.com/v1/fine_tuning/jobs \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "training_file": "file-abc123",
                                  "validation_file": "file-abc123",
                                  "model": "gpt-4o-mini"
                                }'
                          python: |
                              from openai import OpenAI
                              client = OpenAI()

                              client.fine_tuning.jobs.create(
                                training_file="file-abc123",
                                validation_file="file-def456",
                                model="gpt-4o-mini"
                              )
                          node.js: |
                              import OpenAI from "openai";

                              const openai = new OpenAI();

                              async function main() {
                                const fineTune = await openai.fineTuning.jobs.create({
                                  training_file: "file-abc123",
                                  validation_file: "file-abc123"
                                });

                                console.log(fineTune);
                              }

                              main();
                      response: |
                          {
                            "object": "fine_tuning.job",
                            "id": "ftjob-abc123",
                            "model": "gpt-4o-mini-2024-07-18",
                            "created_at": 1721764800,
                            "fine_tuned_model": null,
                            "organization_id": "org-123",
                            "result_files": [],
                            "status": "queued",
                            "validation_file": "file-abc123",
                            "training_file": "file-abc123",
                          }
                    - title: W&B Integration
                      request:
                          curl: |
                              curl https://api.openai.com/v1/fine_tuning/jobs \
                                -H "Content-Type: application/json" \
                                -H "Authorization: Bearer $OPENAI_API_KEY" \
                                -d '{
                                  "training_file": "file-abc123",
                                  "validation_file": "file-abc123",
                                  "model": "gpt-4o-mini",
                                  "integrations": [
                                    {
                                      "type": "wandb",
                                      "wandb": {
                                        "project": "my-wandb-project",
                                        "name": "ft-run-display-name"
                                        "tags": [
                                          "first-experiment", "v2"
                                        ]
                                      }
                                    }
                                  ]
                                }'
                      response: |
                          {
                            "object": "fine_tuning.job",
                            "id": "ftjob-abc123",
                            "model": "gpt-4o-mini-2024-07-18",
                            "created_at": 1721764800,
                            "fine_tuned_model": null,
                            "organization_id": "org-123",
                            "result_files": [],
                            "status": "queued",
                            "validation_file": "file-abc123",
                            "training_file": "file-abc123",
                            "integrations": [
                              {
                                "type": "wandb",
                                "wandb": {
                                  "project": "my-wandb-project",
                                  "entity": None,
                                  "run_id": "ftjob-abc123"
                                }
                              }
                            ]
                          }
        get:
            operationId: listPaginatedFineTuningJobs
            tags:
                - Fine-tuning
            summary: |
                List your organization's fine-tuning jobs
            parameters:
                - name: after
                  in: query
                  description: Identifier for the last job from the previous pagination request.
                  required: false
                  schema:
                      type: string
                - name: limit
                  in: query
[...]
