{' '}
<span>
  <slot />
</span>

<style>
  span {
    border: 1px solid var(--sl-color-gray-4);
    display: inline-block;
    font-size: var(--sl-text-xs);
    line-height: 1.6;
    padding-inline: 0.4rem;
  }
</style>
