/*
 * Figtree — self-hosted variable font (SIL Open Font License 1.1, see
 * public/fonts/LICENSE-Figtree.txt). Weights 300-900 in a single variable file.
 */
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-VariableItalic.woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
