@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/WorkSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  font-weight: 700;
  font-named-instance: 'SemiBold';
  src: url('/fonts/WorkSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  font-weight: 800;
  font-named-instance: 'ExtraBold';
  src: url('/fonts/WorkSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  src: url('/fonts/Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  src: url('/fonts/Inter-italic-latin.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic-latin.var.woff2') format('woff2');
}
