.root {
  @apply flex w-full font-display font-normal text-dark focus:border-verydark focus:ring-verydark;
  font-size: 14px;
  padding: 6px 10px;
  border: 1px solid #c2cad6;
  box-sizing: border-box;
  border-radius: 4px;
}

.root:focus {
  @apply outline-none;
}

.monospacedFont {
  @apply font-mono;
}

.allowEndAdornment {
  @apply pr-8;
}

.error {
  @apply border-red;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed;
}
