GRAFANA_ADMIN_PASSWORD = 'grafana-admin-password'
HASURA_GRAPHQL_ADMIN_SECRET = 'nhost-admin-secret'
HASURA_GRAPHQL_JWT_SECRET = '0f987876650b4a085e64594fae9219e7781b17506bec02489ad061fba8cb22db'
NHOST_WEBHOOK_SECRET = 'nhost-webhook-secret'
GRAPHITE_WEBHOOK_SECRETS = 'klnc,mnerkuy9832jlkasdj'
OPENAI_API_KEY = 'sk-proj-fixme'
