{
  "extends": "../.eslintrc",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    // we are already using a Prettier formatter and this rule is conflicting
    // with it
    "simple-import-sort/imports": "off"
  }
}
