.root {
  @apply flex font-display;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  font-size: 15px;
}

.paddingHorizontal {
  @apply px-2;
}

.paddingVertical {
  @apply py-2;
}

.primary {
  @apply bg-blue !important;
  @apply flex font-display font-medium text-white;
  font-size: 15px;
  border-radius: 4px;
  line-height: 22px;
}

.danger {
  @apply py-2.5 px-2.5 font-display font-medium text-red;
  height: 36px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border: 1px solid #c2cad6;
}

.loading {
  @apply bg-accent-1 !important;
  @apply cursor-not-allowed border-accent-2 text-accent-3;
}

.secondary {
  @apply bg-white !important;
  @apply box-border font-display text-greyscaleDark;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #c2cad6;
  border-radius: 4px;
}

.blue {
  @apply text-blue;
}

.red {
  @apply text-red;
}

.menu {
  @apply cursor-pointer font-display text-greyscaleDark;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.dark {
  @apply bg-greyscaleDark !important;
  @apply font-medium text-white;
  border-radius: 4px;
}
.dark .disabled {
  @apply bg-greyscaleDark !important;
  @apply font-medium text-white;
  border-radius: 4px;
}
.secondary .disabled {
  @apply font-medium;
  color: rgba(9, 34, 72, 0.4);
}
.disabled,
.disabled:hover {
  @apply cursor-not-allowed text-gray-400;
  border-radius: 4px;
}
.small {
  width: 51px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.transparent {
  @apply bg-transparent !important;
  @apply border-0 px-0 py-1;
}

.border {
  @apply px-2 py-1.5;
  border: 1px solid #c2cad6;
  border-radius: 4px;
}
