GRAFANA_ADMIN_PASSWORD = 'grafana-admin-password'
HASURA_GRAPHQL_ADMIN_SECRET = 'nhost-admin-secret'
HASURA_GRAPHQL_JWT_SECRET = '55b1d038dff8d4f9a440e848250668527fa5b563700be0dc39e356f1c91f867e'
NHOST_WEBHOOK_SECRET = 'nhost-webhook-secret'
GITHUB_CLIENT_ID='fixme'
GITHUB_CLIENT_SECRET='fixme'
APPLE_TEAM_ID='fakeTeamId'
APPLE_CLIENT_ID='host.exp.Exponent'
APPLE_AUDIENCE='host.exp.Exponent'
APPLE_KEY_ID='fakeKeyId'
APPLE_PRIVATE_KEY='''-----BEGIN PRIVATE KEY-----
MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQglHTWHjauHnKCxjEP
BpMYsTDI2cihQi4tAYHTthj+FF+gCgYIKoZIzj0DAQehRANCAAR30Hs8vTbED10z
Qx2m4sJu+lE/ZJsRvDkqLqYF8uh1Tb1g7/KKr8Y7qkK3DmCg72bCyirEq4NVUi2r
M/6TYMpw
-----END PRIVATE KEY-----'''
