# Change all these variables before first creating the containers
POSTGRES_PASSWORD=postgres
HASURA_GRAPHQL_ADMIN_SECRET=change-me
# The jwt secret key can be generated with `openssl rand -hex 32`
# DO NOT USE THIS KEY IN PRODUCTION
HASURA_GRAPHQL_JWT_SECRET='{"type":"HS256", "key":"5152fa850c02dc222631cca898ed1485821a70912a6e3649c49076912daa3b62182ba013315915d64f40cddfbb8b58eb5bd11ba225336a6af45bbae07ca873f3","issuer":"hasura-auth"}'

STORAGE_ACCESS_KEY=storage-access-key-never-use-this-value
STORAGE_SECRET_KEY=storage-secret-key-never-use-this-value
