# Change all these variables before first creating the containers
POSTGRES_PASSWORD=postgres
GRAPHQL_ADMIN_SECRET=change-me
# The jwt secret key can be generated with `openssl rand -hex 32`
JWT_SECRET='{"type":"HS256", "key":"5152fa850c02dc222631cca898ed1485821a70912a6e3649c49076912daa3b62182ba013315915d64f40cddfbb8b58eb5bd11ba225336a6af45bbae07ca873f3","issuer":"hasura-auth"}'
STORAGE_ACCESS_KEY=storage-access-key-never-use-this-value
STORAGE_SECRET_KEY=storage-secret-key-never-use-this-value

AUTH_URL=local.auth.local.nhost.run
CONSOLE_URL=local.console.local.nhost.run
DASHBOARD_URL=local.dashboard.local.nhost.run
DB_URL=local.db.local.nhost.run
FUNCTIONS_URL=local.functions.local.nhost.run
GRAPHQL_URL=local.graphql.local.nhost.run
MAILHOG_URL=local.mailhog.local.nhost.run
STORAGE_URL=local.storage.local.nhost.run

# you should have this enabled but for testing/demoing it is easier to disable
AUTH_EMAIL_SIGNIN_EMAIL_VERIFIED_REQUIRED=false
