---
on:
  workflow_call:
    inputs:
      NAME:
        type: string
        required: true
      PATH:
        type: string
        required: true
      GIT_REF:
        type: string
        required: false
    secrets:
      AWS_ACCOUNT_ID:
        required: true
      NIX_CACHE_PUB_KEY:
        required: true
      NIX_CACHE_PRIV_KEY:
        required: true
      NHOST_PAT:
        required: false

jobs:
  tests:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    timeout-minutes: 30

    defaults:
      run:
        working-directory: ${{ inputs.PATH }}

    env:
      NHOST_PAT: ${{ secrets.NHOST_PAT }}

    permissions:
      id-token: write
      contents: write
      actions: read

    steps:
    - name: "Check out repository"
      uses: actions/checkout@v5
      with:
        ref: ${{ inputs.GIT_REF }}

    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2
      with:
        comment_on_pr: false

    - name: Configure aws
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-nhost-${{ github.event.repository.name }}
        aws-region: eu-central-1

    - uses: cachix/install-nix-action@v31
      with:
        install_url: "https://releases.nixos.org/nix/nix-2.28.4/install"
        install_options: "--no-daemon"
        extra_nix_config: |
          experimental-features = nix-command flakes
          sandbox = false
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          substituters = https://cache.nixos.org/?priority=40 s3://nhost-nix-cache?region=eu-central-1&priority=50
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= ${{ secrets.NIX_CACHE_PUB_KEY }}
          keep-env-derivations = true
          keep-outputs = true

    - name: Restore and save Nix store
      uses: nix-community/cache-nix-action@v6
      with:
        primary-key: nix-${{ inputs.NAME }}-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
        restore-prefixes-first-match: nix-${{ inputs.NAME }}-${{ runner.os }}-${{ runner.arch }}}-
        gc-max-store-size-linux: 2G
        purge: true
        purge-prefixes: nix-${{ inputs.NAME }}-
        purge-created: 0
        purge-last-accessed: 0
        purge-primary-key: never

    - name: "Get artifacts"
      uses: actions/download-artifact@v5
      with:
        path: ~/artifacts

    - name: "Inspect artifacts"
      run: find ~/artifacts

    - name: Load docker image
      run: |
          skopeo copy --insecure-policy \
            dir:/home/runner/artifacts/cli-docker-image-x86_64-0.0.0-dev \
            docker-daemon:cli:0.0.0-dev

    - name: "Create a new project"
      run: |
        export NHOST_DOMAIN=staging.nhost.run
        export NHOST_CONFIGSERVER_IMAGE=cli:0.0.0-dev

        unzip /home/runner/artifacts/cli-artifact-x86_64-0.0.0-dev/result.zip
        alias nhost=/home/runner/result/bin/cli
        find result
        pwd
        echo "pwd: $(pwd)"
        ls -la $(pwd)/result/bin/cli
        ls -la /home/runner/result/bin/cli

        mkdir new-project
        cd new-project
        nhost login --pat ${{ secrets.NHOST_PAT }}
        nhost init
        nhost up --down-on-error
        nhost down

    - name: "Cache build"
      run: |
        nix store sign --key-file <(echo "${{ secrets.NIX_CACHE_PRIV_KEY }}") --all
        find /nix/store -maxdepth 1 -name "*-*" -type d | xargs -n 25 nix copy --to s3://nhost-nix-cache\?region=eu-central-1
      if: always()

