---
name: "nixops: check and build"
on:
  pull_request:
    paths:
      - '.github/workflows/wf_check.yaml'
      - '.github/workflows/nixops_checks.yaml'

      # common build
      - 'flake.nix'
      - 'flake.lock'
      - 'nixops/**'
      - 'build/**'
  issue_comment:
    types: [created]
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.pull_request.number) || github.event_name == 'issue_comment' && format('pr-{0}', github.event.issue.number) || format('push-{0}', github.sha) }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' || github.event_name == 'issue_comment' }}

jobs:
  check-pr-authorization:
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.auth.outputs.should_run }}
      sha: ${{ steps.auth.outputs.sha }}
    steps:
      - uses: actions/checkout@v6
      - id: auth
        uses: ./.github/actions/check-pr-authorization

  tests:
    needs: check-pr-authorization
    if: needs.check-pr-authorization.outputs.should_run == 'true'
    uses: ./.github/workflows/wf_check.yaml
    with:
      NAME: nixops
      PATH: nixops
      GIT_REF: ${{ needs.check-pr-authorization.outputs.sha }}
    secrets:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_PRODUCTION_CORE_ACCOUNT_ID }}
      NIX_CACHE_PUB_KEY: ${{ secrets.NIX_CACHE_PUB_KEY }}
      NIX_CACHE_PRIV_KEY: ${{ secrets.NIX_CACHE_PRIV_KEY }}

  build_artifacts:
    needs: check-pr-authorization
    if: needs.check-pr-authorization.outputs.should_run == 'true'
    uses: ./.github/workflows/wf_build_artifacts.yaml
    with:
      NAME: nixops
      PATH: nixops
      GIT_REF: ${{ needs.check-pr-authorization.outputs.sha }}
      VERSION: 0.0.0-dev # we use a fixed version here to avoid unnecessary rebuilds
      DOCKER: true
    secrets:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_PRODUCTION_CORE_ACCOUNT_ID }}
      NIX_CACHE_PUB_KEY: ${{ secrets.NIX_CACHE_PUB_KEY }}
      NIX_CACHE_PRIV_KEY: ${{ secrets.NIX_CACHE_PRIV_KEY }}
