# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# Poached from https://github.com/hayes/pothos/tree/main/.github/workflows, thanks to the original author

name: Node.js CI

on:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - 'templates/**'
      - 'examples/**'
      - 'assets/**'
      - '**.md'
      - 'LICENSE'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - 'templates/**'
      - 'examples/**'
      - 'assets/**'
      - '**.md'
      - 'LICENSE'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # - name: Cache pnpm modules
      #   uses: actions/cache@v2
      #   with:
      #     path: ~/.pnpm-store
      #     key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
      #     restore-keys: |
      #       ${{ runner.os }}-

      - uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.32.3
          # run_install: |
          #   - recursive: true
          #     args: [--frozen-lockfile, --strict-peer-dependencies]
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'pnpm'
      - name: Cache turbo
        uses: actions/cache@v2
        with:
          path: ./node_modules/.cache/turbo
          key: turbo-${{ github.job }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.job }}-${{ github.ref_name }}-

      - name: Install nhost CLI
        run: curl -L https://raw.githubusercontent.com/nhost/cli/main/get.sh | bash

      - name: Start Nhost Backend
        run: |
          cd examples/testing-project

          nhost dev -d --no-browser &
      - name: Wait for Nhost Backend to start
        run: |
          pnpm dlx wait-on http://localhost:1337/v1/auth/healthz -i 500 -t 120000
      - run: pnpm install
      - run: pnpm run ci
