name: Test Nhost CLI action

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]
    paths:
      - '.github/actions/nhost-cli/**'
      - '!.github/actions/nhost-cli/**/*.md'

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install the Nhost CLI
        uses: ./.github/actions/nhost-cli
      - name: should succeed running the nhost command
        run: nhost

  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install the Nhost CLI and start the application
        uses: ./.github/actions/nhost-cli
        with:
          path: packages/nhost-js
          start: true
      - name: should be running
        run: curl -sSf 'https://local.hasura.nhost.run' > /dev/null

  stop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install the Nhost CLI, start and stop the application
        uses: ./.github/actions/nhost-cli
        with:
          path: packages/nhost-js
          start: true
          stop: true
      - name: should have no live docker container
        run: |
          if [ -z "docker ps -q" ]; then
            echo "Some docker containers are still running"
            docker ps
            exit 1
          fi

  config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install the Nhost CLI and run the application
        uses: ./.github/actions/nhost-cli
        with:
          path: packages/nhost-js
          start: true
      - name: should find the injected hasura-auth version
        run: |
          VERSION=$(curl -sSf 'https://local.auth.nhost.run/v1/version')
          EXPECTED_VERSION='{"version":"v0.20.1"}'
          if [ "$VERSION" != "$EXPECTED_VERSION" ]; then
            echo "Expected version $EXPECTED_VERSION but got $VERSION"
            exit 1
          fi

  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install the Nhost CLI
        uses: ./.github/actions/nhost-cli
        with:
          version: v1.0.1
      - name: should find the correct version
        run: nhost --version | head -n 1 | grep v1.0.1 || exit 1
