---
on:
  workflow_call:
    inputs:
      NAME:
        type: string
        required: true
      PATH:
        type: string
        required: true
      VERSION:
        type: string
        required: true

    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  push-to-registry:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      id-token: write
      contents: write

    defaults:
      run:
        working-directory: ${{ inputs.PATH }}

    steps:
      - name: "Check out repository"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: "Compute common env vars"
        id: vars
        run: |
          echo "VERSION=$(make get-version VER=${{ inputs.VERSION }})" >> $GITHUB_OUTPUT

      - name: "Get artifacts"
        uses: actions/download-artifact@v7
        with:
          path: ~/artifacts

      - name: "Inspect artifacts"
        run: find ~/artifacts

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: "Push docker image to docker hub"
        run: |
          export NAME=${{ inputs.NAME }}
          export VERSION=${{ steps.vars.outputs.VERSION }}
          export CONTAINER_REGISTRY=nhost
          export CONTAINER_NAME=$CONTAINER_REGISTRY/$NAME

          for ARCH in "x86_64" "aarch64"; do
            skopeo copy --insecure-policy \
              dir:/home/runner/artifacts/${{ inputs.NAME }}-docker-image-$ARCH-$VERSION \
              docker://$CONTAINER_NAME:$VERSION-$ARCH
          done

          docker manifest create \
            $CONTAINER_NAME:$VERSION \
            --amend $CONTAINER_NAME:$VERSION-x86_64 \
            --amend $CONTAINER_NAME:$VERSION-aarch64

          docker manifest push $CONTAINER_NAME:$VERSION
